nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.nav-menu-link {
  flex: 1;
  text-align: center;
  padding: 20px;
  color: #333;
  text-decoration: none;
  border-radius: 15px;
  background-color: #d3d3d3;
}

.nav-menu-link:hover {
  background-color: #a9a9a9;
}

a.active-route {
  background-color: #858585;
}
